--- 
layout: default 
title: The Dog Gateway - Development HowTo 
active: Develop
sidebar: develop-sidebar.html
---
<h2> Developer HowTo(s) </h2>

{% for post in site.categories.development-howto %}
	{%if forloop.index0 < 10 %}
	<hr>
	<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ post.title }}"  data-url="{{ site.url }}{{ post.url }}" data-via="TheDogGateway">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<p>{{ post.excerpt }}
		<a href="{{ post.url }}">Read more...</a>
	</p>
	
	<p>
		<em>Posted on {{ post.date | date: "%-d %B %Y" }}</em>
	</p>

	{% else %}
	<a href="{{ post.url }}">{{ post.title }}</a>
	{% endif %} 
{% endfor %}