<!-- sidebar -->
<div class="col-md-3 col-sm-3 sidebar" id="sidebar" role="navigation">
	<div class="panel-group" id="accordion">
		<div class="panel panel-info">
			<div class="panel-heading">
				<a href="build-on-it.html"> API Overview </a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="rest-api.html"> REST API </a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="websocket-api.html"> WebSocket API </a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="history-api.html"> History API </a>
			</div>
		</div>
	</div>
</div>
