<!-- sidebar -->

<div class="col-md-3 col-sm-3  sidebar " id="sidebar" role="navigation">
	<div class="list-group">
		<a href="/develop.html#Requirements" class="list-group-item">Requirements</a>
		<a href="/develop.html#Setup" class="list-group-item">Setup</a>
		<a href="/develop.html#Run" class="list-group-item">Run / Test</a>
		<a href="/develop.html#Guidelines" class="list-group-item">Development Guidelines</a>
		<a href="/development-howto.html" class="list-group-item {% if page.title == 'The Dog Gateway - Development HowTo' %} active {% endif %}">HowTo(s)</a>
	</div>
</div>