<header>
	<div class="navbar-wrapper">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/index.html"><img
						src="/assets/img/dog-logo-grey.png" />{{ site.name }}</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li {% if page.active == 'Home' %} class="active" {% endif %}><a href="/index.html">Home</a></li>
						<li {% if page.active == 'Use It!' %} class="active" {% endif %}><a href="/useit.html">Use It!</a></li>
						<!-- <li><a href="#integrate">Integrate it!</a></li>-->
						<li {% if page.active == 'Build on it!' or  page.active == 'Develop!'%} class="active" {% endif %}class="dropdown"><a href="#develop"
							class="dropdown-toggle" data-toggle="dropdown">Dev Center <b
								class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Build on it!</a></li>
								<li><a href="#">Develop!</a></li>
							</ul></li>
						<li {% if page.active == 'Blog' %} class="active" {% endif %}><a href="/blog.html">Blog</a></li>
						<li {% if page.active == 'About' %} class="active" {% endif %}><a href="/about.html">About</a></li>
						<li {% if page.active == 'Contact' %} class="active" {% endif %}><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
