<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="col-md-9">
			<h3>Supported Technologies</h3>
		</div>
		<div class="col-md-3">
			<!-- Controls -->
			<div class="controls pull-right hidden-xs">
				<a class="left fa fa-chevron-left btn btn-default btn-circle"
					href="#technologies" data-slide="prev"></a><a
					class="right fa fa-chevron-right btn btn-default btn-circle"
					href="#technologies" data-slide="next"></a>
			</div>
		</div>
	</div>
	<div id="technologies" class="carousel slide hidden-xs"
		data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="row">
					<div class="col-sm-3">
						<div class="col-item">
							<div class="photo">
								<a href="http://www.knx.org"><img src="/assets/img/technologies/knx.png"
									class="img-responsive" alt="a" /></a>
							</div>
							<div class="info">
								<div class="row">
									<div class="price col-md-12">
										<p>The worldwide STANDARD for all applications in home and
											building control.</p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="col-item">
							<div class="photo">
								<a href="http://www.zigbee.org/"><img src="/assets/img/technologies/zigbee.png"
									class="img-responsive" alt="a" /></a>
							</div>
							<div class="info">
								<div class="row">
									<div class="price col-md-12">
										<p>ZigBee is the only standards-based wireless technology
											designed to address the unique needs of low-cost, low-power
											wireless sensor and control networks.</p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="col-item">
							<div class="photo">
								<a href="http://www.z-wave.com/"><img src="/assets/img/technologies/zwave.png"
									class="img-responsive" alt="a" /></a>
							</div>
							<div class="info">
								<div class="row">
									<div class="price col-md-12">
										<p>Z-Wave is a wireless technology that makes regular
											household products, like lights, door locks and thermostats
											"smart".</p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="col-item">
							<div class="photo">
								<a href="http://www.bticino.it/cons/content/myhome/index"><img src="/assets/img/technologies/myhome.png"
									class="img-responsive" alt="a" /></a>
							</div>
							<div class="info">
								<div class="row">
									<div class="price col-md-12">
										<p>The My Home system by Legrand offers a complete
											integrated home automation solution with a unique design for
											individual homes and condominiums.</p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="col-sm-3">
					<div class="col-item">
						<div class="photo">
							<a href="http://www.modbus.org/"><img src="/assets/img/technologies/modbus.png"
								class="img-responsive" alt="a" /></a>
						</div>
						<div class="info">
							<div class="row">
								<div class="price col-md-12">
									<p>The de facto industrial serial standard since 1979,
										MODBUS continues to enable millions of automation devices to
										communicate. Today, support for the simple and elegant
										structure of MODBUS continues to grow.</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="col-item">
						<div class="photo">
							<a href="http://www.echelon.com/applications/smart-metering/default.htm"><img src="/assets/img/technologies/echelon.png"
								class="img-responsive" alt="a" /></a>
						</div>
						<div class="info">
							<div class="row">
								<div class="price col-md-12">
									<p>Echelon's Smart Metering Solution allows utilities to
										accurately collect billing data and vital health statistics
										from the low voltage grid with over 99% field proven
										reliability.</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="col-item">
						<div class="photo">
							<a href="http://meethue.com/"><img src="/assets/img/technologies/hue.png"
								class="img-responsive" alt="a" /></a>
						</div>
						<div class="info">
							<div class="row">
								<div class="price col-md-12">
									<p>Philips hue combines brilliant LED light with intuitive
										technology. And it puts them both in the palm of your hand.
										Together, the bulbs, the bridge and the app will change the
										way you use light. Forever.</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<!-- <div class="col-sm-3">
					<div class="col-item">
						<div class="photo">
							<img src="/assets/img/technologies/xively.png"
								class="img-responsive" alt="a" />
						</div>
						<div class="info">
							<div class="row">
								<div class="price col-md-12">
									<p>Xively is the Public Cloud specifically built for the
										Internet of Things. Xively’s IoT public cloud, web-based tools
										and developer resources empower your organization, allowing
										you to focus critical resources on connected product
										innovation rather than on enabling infrastructure.</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div>