<!-- sidebar -->

<div class="col-md-2 col-sm-2 sidebar" id="sidebar">
<a class="twitter-timeline" height="500px" href="https://twitter.com/TheDogGateway"  data-widget-id="436824688052809728">Tweets by @TheDogGateway</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
