<!-- sidebar -->

<div class="col-md-3 col-sm-3 sidebar" id="sidebar" role="navigation">
	<div class="list-group upper">
		<a href="build-on-it.html" class="list-group-item">Overview</a>
		<a href="rest-api.html" class="list-group-item">REST API</a>
		<a href="websocket-api.html" class="list-group-item list-group-item-info">WebSocket API</a>
	</div>
	<div class="list-group nested">
		<a href="websocket-api.html#presentation" class="list-group-item upper-item">Presentation</a>
		<a href="websocket-api.html#request" class="list-group-item">Request</a>
		<a href="websocket-api.html#response" class="list-group-item">Response</a>
		<a href="websocket-api.html#notifications" class="list-group-item">Notifications</a>
		<a href="websocket-api.html#browser-comp" class="list-group-item">Browser Compatibility</a>
	</div>
</div>
