.navbar-brand img {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 32px;
	height: 32px;
}

.navbar-brand {
	padding-top: 11px;
	font-family: 'Ubuntu', sans-serif;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

img.pull-left {
	padding-right: 10px;
}

img.small {
	width: 70px;
	height: 70px;
}

.profile {
	text-align: center;
}

.sidebar {
	position: relative;
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 60px;
	}
}

@media ( max-width : 768px) {
	.carousel {
		display: none;
	}
	.marketing
	{
		margin-top: 60px;
	}
}