.navbar-brand img {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 32px;
	height: 32px;
}

.navbar-brand {
	padding-top: 11px;
	font-family: 'Ubuntu', sans-serif;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

img.pull-left {
	padding-right: 10px;
}

img.small {
	width: 70px;
	height: 70px;
}

img.ribbon
{
	position: fixed;  
	top: 0; 
	right: 0; 
	border: 0;
	z-index: 100;
}

.profile {
	margin-bottom: 20px;
}

.sidebar {
	position: relative;
}

.upper {
	margin-bottom: 0;
}

.upper-item {
	border-top-width: 0;
}

.nested {
	padding-left: 10px;
}

iframe {
	text-align: center;
	/* border-width: 1px;
	border-style: solid;*/
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 100px;
		left: 30px;
	}
	
	img.ribbon
	{
		position: fixed; 
		top: 0; 
		right: 0; 
		border: 0;
		z-index: 2000;
	}
}

@media ( max-width : 768px) {
	.carousel {
		display: none;
	}
	img.ribbon
	{
		display: none;
	}
	.marketing
	{
		margin-top: 60px;
	}
}
