<!DOCTYPE html>
<html lang="en">
<head>
	{% include header.html %}
	{% include default-body-style.html %}
</head>
<body>
	{% include navbar.html %} 
	
	<div class="container">
		<div class="row">	
		{% if page.sidebar %}
	{% include {{page.sidebar}} %}
	{% endif %}
			<div class="col-md-9 
			{% if page.sidebar %}
					col-md-offset-3 col-sm-offset-3	
			{% else %}
				col-md-offset-2 col-sm-offset-2
			{% endif %}
			" role="main">
			{{content }}
			</div>
		</div>
	</div>
	{% include footer.html %}
	{% include footer-bootstrap.html %}
	{% include custom-js.html %}
	{% include analytics.html %}
</body>
</html>
